# Dependency directories
node_modules/

# Build files
dist/

# Git
.git/
.gitignore

# Config
.vscode/
.priettierignore

# Logs
*.log

# Tests Files
tests/
*.spec.ts
database/
coverage/

# Database
# database.sqlite

# Documentation
docker-compose.yml
jest.config.ts
scripts/
README.md
